@use '../scss/partials/variables.scss' as *;
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

/* COMMON */
.subtitle {
    color: $text-color;
    font-size: 0.75rem;
}

.title {
    color: $primary-color;
}

button {
    height: 40px;
    border: 0;
    border-radius: 5px;
    padding: 7px 30px;
}
button.primary {
    background-color: $bg-color;
    color: $primary-color;
}
button.secondary {
    background-color: $primary-color;
    color: $secondary-color;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
}