@use '../scss/partials/variables.scss' as *;
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

/* COMMON */
.subtitle {
    color: $text-color;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    color: $primary-color;
    font-weight: bolder;
}

button {
    height: 40px;
    border: 0;
    border-radius: 5px;
    padding: 7px 30px;
}
button.primary {
    background-color: $bg-color;
    color: $primary-color;
}
button.secondary {
    background-color: $primary-color;
    color: $secondary-color;
}
button.primary:hover {
    background-color: $primary-color;
    color: $secondary-color;
}
button.secondary:hover {
    background-color: $secondary-color;
    color: $primary-color; 
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color: $text-color;
}

.go-up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: rgba(58, 58, 58, 0.687);
    border-radius: 10px;
}