@use './variables.scss' as *;

/* FOOTER COMPONENT */
footer {

    .footer-left {
        height: 300px;

        .top {

            .logo {
                height: 60px;
    
                img {
                    height: 100%;
                }
            }
    
            nav {
                color: $primary-color;
                margin-top: 35px;

                li {

                    a {
                        font-size: 0.8em;
                    }
                }
    
                .counter {
                    background-color: $secondary-color;
                    color: $primary-color;
                    padding: 3px 10px;
                    border-radius: 99px;
                    margin-left: 5px;
                }
            }
        }
        .copyright {
            font-size: 0.6rem;
        }
    }

    .footer-right {
        height: 300px;

        .top {

            form {
                margin-top: 35px;

                input {
                    height: 40px;
                    width: 60%;
                    border-radius: 5px;
                    border: 1px solid rgb(209, 208, 208);
                    margin-right: 15px;
                    padding: 0 10px;
                }
            }
        }

        nav {
            color: $primary-color;
        }
    }
}