@use './variables.scss' as *;
/* HEADER COMPONENT */
header {
    background-image: url('../assets/img/hero-header-bakery.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;

    .header-top {
        color: $primary-color;
        padding: 5px 0;

        .logo {
            height: 75px;

            img {
                height: 100%;
            }
        }

        .navbar {
    
            ul {
                list-style-type: none;

                li {

                    &.active::after {
                        content: '';
                        display: block;
                        background-color: $primary-color;
                        width: 100%;
                        height: 2px;
                        position: relative;
                        bottom: -7px;
                    }

                    a {
                        color: $primary-color;
                        font-size: 0.65rem;
                    }
                }
            }
        }
    }

    .header-bottom {
        width: 500px;
        height: calc(100% - 85px);
        padding: 10rem 4rem;

        h1 {
            font-size: 3em;
        }
    }
}